.navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.navigation a {
  padding: 10px;
  color: black;
  text-decoration: none;
}

.navigation a:hover {
  color: rgb(88, 88, 88);
}

body {
  background: #faf9ef;
  flex-direction: column; /* 세로 방향으로 요소 배치 */
  justify-content: center;
  align-items: center;
  display: flex;

  h1 {
    font-style: italic;
  }

  h2 {
    font-style: italic;
  }
}

main {
  text-align: center;
  word-wrap: break-word;
  width: 60%;
  line-height: 2;
}

.resume {
  margin-bottom: 100px;
}

.logo-icon {
  display: flex;
  gap: 15px; /* 아이콘들 간의 간격 */
  justify-content: center; /* 아이콘들 중앙 정렬 */
}

.logo-icon img {
  width: 60px; /* 원하는 크기로 설정 */
  height: auto; /* 비율 유지 */
  margin-bottom: 100px;
}

footer {
  bottom: 0;
  text-align: center;
  p {
    font-weight: bold;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.back-to-top:hover {
  background: #555;
}

.icon {
  width: 35px;
}

a {
  text-decoration: none;
}
