.navigation {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  gap: 20px; /* 메뉴 항목 사이 간격 */
  list-style: none; /* 기본 목록 스타일 제거 */
  padding: 0;
}

.navigation a {
  padding: 10px;
  color: black;
  text-decoration: none;
}

.navigation a:hover {
  color: rgb(88, 88, 88);
}

body {
  background: #DAECFF;
  flex-direction: column; /* 세로 방향으로 요소 배치 */
  justify-content: center;
  align-items: center;
  display: flex;

  font-family: 'Helvetica', 'Arial', sans-serif;
}

/* 처음에는 main과 footer 숨김 */
main,
footer {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-align: center;
  word-wrap: break-word;
  width: 60%;
  line-height: 2;

  h1 {
    margin-top: 50px;
    flex-direction: column; /* 세로 방향으로 요소 배치 */
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: italic;
  }
}

/* Hello 애니메이션 */
.hello {
  display: flex;
  gap: 5px;
  font-size: 5rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; /* 처음엔 보이도록 설정 */
  transition: opacity 1s ease-in-out;
}

.hello span {
  opacity: 0;
  animation: typing 0.5s forwards;
}

/* 글자 하나씩 나타나는 애니메이션 */
@keyframes typing {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 각 글자에 대해 순차적으로 애니메이션 적용 */
.hello span:nth-child(1) {
  animation-delay: 0.3s;
}
.hello span:nth-child(2) {
  animation-delay: 0.6s;
}
.hello span:nth-child(3) {
  animation-delay: 0.9s;
}
.hello span:nth-child(4) {
  animation-delay: 1.2s;
}
.hello span:nth-child(5) {
  animation-delay: 1.5s;
}

/* 헬로가 사라지고 전체 콘텐츠가 나타나는 효과 */
body.show-content .hello {
  opacity: 0;
}

body.show-content main,
body.show-content footer {
  opacity: 1;
}

.myself {
  width: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
}

footer {
  margin-top: 100px;
  text-align: center;
}

footer p {
  font-weight: bold;
}

.mywork {
  display: inline-block;
  background: #041B34;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #acc8e5;
  transition: background 0.3s ease-in-out;
}
.mywork:hover {
  background: #acc8e5;
  color: #041B34;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.back-to-top:hover {
  background: #555;
}

.icon {
  width: 35px;
}

a {
  text-decoration: none;
}
